<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>이 앱은 사진을 업로드하기 위해 사진 라이브러리 접근 권한이 필요합니다.</string>
	<key>NSCameraUsageDescription</key>
	<string>이 앱은 사진을 촬영하여 업로드하기 위해 카메라 접근 권한이 필요합니다.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>이 앱은 이미지를 저장하기 위해 사진 라이브러리 접근 권한이 필요합니다.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleDisplayName</key>
	<string>단일대오</string>
</dict>
</plist>
